@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}
.card1 {
  width: 150px;
  margin: 40px auto;
  height: 200px;
  background-color: white;
  border-radius: 10px;
}
.number {
  text-align: center;
  margin: 30px;
}
.suit {
  float: inline-start;
  margin: 30px;
}
.rotate {
  transform: rotate(180deg);
}
.spade {
  color: black;
  font-size: 30px;
}
.clover {
  color: black;
  font-size: 30px;
}
.heart {
  color: red;
  font-size: 30px;
}
.diamond {
  color: red;
  font-size: 30px;
}
