@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}
.card {
  width: 170px;
  margin: 40px auto;
  height: 230px;
  background-color: white;
}
.number {
  text-align: center;
  margin: 30px;
}
.suit {
  float: inline-start;
  margin: 20px;
}
.rotate {
  transform: rotate(180deg);
}
.spade {
  border-radius: 10px;
  color: black;
  font-size: 30px;
}
.clover {
  border-radius: 10px;
  color: black;
  font-size: 30px;
}
.heart {
  border-radius: 10px;
  color: red;
  font-size: 30px;
}
.diamond {
  border-radius: 10px;
  color: red;
  font-size: 30px;
}
